.searchbar {
  height: 4rem
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.6rem;

  input {
    width: 100%;
    height: 2.4rem;
    padding: 0;
    border: .1rem solid grey4;
    font-size: 1.4rem;
    color: black;
    outline: 0;
    padding-left: .8rem;
  }
}
